$primary: #509ba8;
$secondary: #ffc107;
$dark: #20212a;
$dark-accent: #30708a;
$light: #eeeceb;
$light-accent: #66675e;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  dark: $dark,
  light: $light
);

// theme colors
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  //--primary: #007bff;
  --primary: #509ba8;
  //--secondary: #6c757d;
  --secondary: #66675e;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  //--light: #f8f9fa;
  --light: #eeeceb;
  //--dark: #343a40;
  --dark: #20212a;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

// Fill SVGs with color
@each $color, $value in $theme-colors {
  .fill-#{$color} {
    fill: color-yiq($value);
  }
}

// text sizes
.tx-8 {
  font-size: 8px;
}
.tx-12 {
  font-size: 12px;
}
.tx-16 {
  font-size: 16px;
}
.tx-18 {
  font-size: 18px;
}
.tx-24 {
  font-size: 24px;
}

.title {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  text-align: left;
  padding-bottom: 50px;
  position: relative;
  box-sizing: border-box;

  &:before {
    position: absolute;
    content: "";
    width: 6px;
    height: 64px;
    background-color: $secondary;
    top: 2px;
  }

  & > h3 {
    font-size: 35px !important;
    text-transform: uppercase !important;
    font-weight: 600 !important;
    letter-spacing: -0.5px !important;
    padding-left: 25px !important;
    line-height: 1 !important;
    color: $primary !important;
  }

  & > span {
    font-size: 16px !important;
    padding-left: 25px !important;
    color: $dark-accent !important;
  }
}

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";
